@import url('https://fonts.googleapis.com/css?family=Fira+Code|Exo|Lato&display=swap');


p, a, span, small, div {
	font-family: Lato !important;
}

code, pre {
	font-family: fira code !important;
	p, a, span, small, div{
		font-family: fira code !important;
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: Exo !important;
	a {
		font-family: Exo !important;
	}
}

.css-ueqitl{
	background: rgb(223, 223, 223);
	padding: 2px 10px;
	margin: 0 4px;
	border-radius: 3px;
	font-family: Fira Code !important;
	white-space: normal;
}